html, body {
  margin: 0;
  height: 100%;
}
#mainDiv{
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
#myMap {
  display: flex;
  width: 80%;
  height: 100%;
}
#cityLst {
  display: block;
  width: 20%;
  background-color: whitesmoke;
}


.button {
  width: 100%;
  height: 25%;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  display: block;
  padding: 5px;
  font-size: smaller;
}

img{
  height: 80%;
  width: 50%;
  margin: 0;
  position: relative;
  left: 50%;
  display: inline-block;
}

.city-name {
  position: relative;
  left: 22%;
  bottom:85%;
  margin: 0;
  font-size: 1.6rem;
}

.button-txt {
  position: relative;
  left: 12%;
  bottom: 85%;
  height: 50%;
  width: 35%;
  display: inline-block;
  text-align: right;
  margin: 0;
  /*font-size: 1.07em;*/
}

